@charset "utf-8";

/* ==============================
   Variables
   ============================== */
  
:root{
    --font-global: 'DM Sans', sans-serif;
    --font-alt: 'DM Sans', sans-serif;
    --font-serif: Georgia, 'Times New Roman', Times, serif;
    --full-wrapper-margin-x: 30px;
    --container-width: 1350px;
    --section-padding-y: 120px;
    --menu-bar-height: 85px;
    --menu-bar-height-scrolled: 65px;
    --color-dark-1: #010101;
    --color-dark-2: #171717;
    --color-dark-3: #272727;
    --color-dark-3a: #333;
    --color-dark-4: #555;
    --color-gray-1: #757575;
    --color-gray-2: #888;
    --color-gray-3: #999;
    --color-gray-light-1: #f1f1f1;
    --color-gray-light-2: #f7f7f7;
    --color-gray-light-3: #e5e5e5;
    --color-gray-light-4: #d5d5d5;
    --color-gray-light-5: #ccc;
    --color-gray-light-6: #bbb;
    --color-dark-mode-gray-1: rgba(255,255,255, .7);
    --color-dark-mode-gray-2: rgba(255,255,255, .1275);
    --color-primary-1: #4567ed;
    --color-primary-1-a: #375ae3;    
    --color-primary-light-1: #e3effe;
    --color-primary-light-1-a: #bcd1f1;
    --color-primary-2: #7752e7;
    --color-primary-light-2: #e7defe;
    --color-primary-3: #b947d9;
    --color-primary-light-3: #f7defe;
    --color-primary-4: #e748b1;
    --color-primary-light-4: #ffe1f5; 
    --color-secondary-1: #fbe3a1;   
    --gradient-primary-1: linear-gradient( 90deg, var(--color-primary-4) 0%, var(--color-primary-3) 33%, var(--color-primary-2) 67%, var(--color-primary-1) 100%);
    --gradient-primary-1-a: linear-gradient( 90deg, var(--color-primary-4) 25%, var(--color-primary-3) 40%, var(--color-primary-2) 60%, var(--color-primary-1) 75%);
    --gradient-primary-1-b: linear-gradient( 45deg, var(--color-primary-4) 0%, var(--color-primary-3) 33%, var(--color-primary-2) 67%, var(--color-primary-1) 100%);
    --gradient-primary-1-c: linear-gradient( 0deg, var(--color-primary-4) 0%, var(--color-primary-3) 33%, var(--color-primary-2) 67%, var(--color-primary-1) 100%);
    --gradient-gray-light-1: linear-gradient(0deg, #f5f5f5 0%, #fff 100%);
    --gradient-gray-light-2: linear-gradient(0deg, #fff 0%, #f5f5f5 100%);
    --gradient-dark-alpha-1: linear-gradient( 90deg, var(--color-dark-1) 40%, transparent 87%);
    --gradient-dark-alpha-2: linear-gradient( 90deg, transparent 13%, var(--color-dark-1) 60%);
    --gradient-primary-alpha-1: linear-gradient( 90deg, var(--color-primary-1) 40%, transparent 87%);
    --gradient-primary-alpha-2: linear-gradient( 90deg, transparent 13%, var(--color-primary-1) 60%);
    --border-radius-default: 4px;
    --border-radius-large: 30px;
    --box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.05),0px 1px 1px 0px rgba(0, 0, 0, 0.03),0px 3px 5px 0px rgba(0, 0, 0, 0.03);
    --box-shadow-strong: 0px 5px 10px 0px rgba(0, 0, 0, 0.08),0px 1px 1px 0px rgba(0, 0, 0, 0.06),0px 3px 5px 0px rgba(0, 0, 0, 0.06);
    --box-shadow-block: 0px 3px 50px 0px rgba(0, 0, 0, 0.05);
    --box-shadow-block-strong: 0px 3px 50px 0px rgba(0, 0, 0, 0.15);  
    --transition-default: all 0.27s cubic-bezier(0, 0, 0.58, 1);
    --ease-default: cubic-bezier(0, 0, 0.58, 1);
    --ease-out-long: cubic-bezier(0,.5,0,1);
    --ease-out-medium: cubic-bezier(0,.57,.55,1);
    --ease-out-short: cubic-bezier(.15,.7,.78,1);
    --ease-elastic-1: cubic-bezier(0.68,-0.55,0.27,1.55);
    --ease-elastic-2: cubic-bezier(0.68,-3,0.27,5);
}


/* ==============================
   Common styles
   ============================== */
  
:root{
    scroll-behavior: auto;
}
html{
    -ms-overflow-style: scrollbar;
}
body{
    overflow-x: hidden;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;    
}
main {
    /* Fallback for browsers that do not support overflow: clip */
    overflow: hidden;
}

@supports (overflow: clip) {
    main {
        overflow: clip;
    }
}

iframe{
    border: none;
}
a, b, div, ul, li{
    -webkit-tap-highlight-color: rgba(0,0,0,0); 
    -webkit-tap-highlight-color: transparent; 
    -moz-outline-: none;
}

img:not([draggable]), embed, object, video{
    max-width: 100%;
    height: auto;
}

.min-height-100vh{
    min-height: 100vh !important;
    min-height: 100svh !important;
}
.align-center{ text-align:center !important; }
.relative{ position: relative !important;}
.z-index-1{ z-index: 1 !important;}
.no-hover{ cursor: default !important;}
.wch-unset{ will-change: unset !important; }
.opacity-09{ opacity: .9 !important; }
.opacity-1{ opacity: 1 !important; }
.size-13 { font-size: 13.5px !important; }
.size-24{ font-size: 24px !important; }

.stick-fixed{
    position: fixed !important;
    top: 0;
    left: 0;
}

.round{
    border-radius: var(--border-radius-default) !important;
}

.round.overflow-hidden,
.round-large.overflow-hidden,
.circle.overflow-hidden,
.circle-large.overflow-hidden{
    isolation: isolate;
    transform: translateZ(0);
}

.no-animate{    
    -webkit-transition-property: none !important;
    -moz-transition-property: none !important;
    -o-transition-property: none !important;
    transition-property: none !important; 
}
.clearlist, .clearlist li{
    list-style: none;
    padding: 0;
    margin: 0;
    background: none;
}

.full-wrapper{
    margin: 0 var(--full-wrapper-margin-x);
}
.container{
    max-width: var(--container-width);
    padding: 0 30px;
}
.row:not(
.g-0, .g-1, .g-2, .g-3, .g-4, .g-5,
.gx-0, .gx-1, .gx-2, .gx-3, .gx-4, .gx-5,
.gy-0, .gy-1, .gy-2, .gy-3, .gy-4, .gy-5){
    --bs-gutter-x: 30px;
}

/* ==============================
   Page loader
   ============================== */

.page-loader{
    display:block;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: #fefefe;
    z-index: 100000; 
}
.loader{
    width: 50px;
    height: 50px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -25px 0 0 -25px;
    font-size: 10px;
    text-indent: -12345px;
    border-top: 1px solid rgba(0,0,0, 0.15);
    border-right: 1px solid rgba(0,0,0, 0.15);
    border-bottom: 1px solid rgba(0,0,0, 0.15);
    border-left: 1px solid rgba(0,0,0, .55);
    border-radius: 50%;
    animation: spinner 700ms infinite linear;
    will-change: transform;  
    z-index: 100001;
}

.page-loader.gradient .loader{
    border-color: transparent;
    background:	linear-gradient(to right, white, white), var(--gradient-primary-1); 
	-webkit-background-clip: padding-box, border-box;
    background-clip: padding-box, border-box;
	background-origin: padding-box, border-box;
}

/* ==============================
   Typography
   ============================== */
  
body{
    color: var(--color-dark-1);
    font-family: var(--font-global);
    font-size: 18px;
    font-weight: 400;
    letter-spacing: normal;
    line-height: 1.67; 
}
a{
    color: var(--color-dark-1);
    text-decoration: underline;
    transition: color 0.1s var(--ease-default);
}
a:hover{
    color: var(--color-dark-4);
    text-decoration: underline;
}
b, strong{
    font-weight: 500;
}

.mark-decoration-4{
    position: relative;
    display: inline-block;
}
.mark-decoration-4:before{
    content:"";
    position: absolute;
    bottom: 0.12em;
    left: 0;  
    display: block;
    width: 100%;
    height: 7px;
    opacity: 0.2;
    background: var(--gradient-primary-1);
    pointer-events: none;
    z-index: -1;
}
.light-content .mark-decoration-4:before{
    opacity: 0.375;
}
h1,h2,h3,h4,h5,h6,
.h1,.h2,.h3,.h4,.h5,.h6{
    margin-bottom: 1em;
    font-weight: 500;
    line-height: 1.2;   
}

h1, .h1{
    margin-bottom: 0.5em;
    font-size: 42px;
    letter-spacing: -0.04em;
}
h2, .h2{
    margin-bottom: 0.5em;
    font-size: 36px;
    letter-spacing: -0.03em;
}
h3, .h3{
    margin-bottom: 0.7em;
    font-size: 28px;
    letter-spacing: -0.03em;
}
h4, .h4{
    font-size: 24px;
}
h6, .h6{
    font-size: 16px;
    font-weight: 700;
}
p{
    margin: 0 0 1.5em 0;
}
ul, ol{
    margin: 0 0 1.5em 0;
}
hr{
    background-color: #000;
    opacity: .1;
}


/* 
 * Headings styles
 */

.hs-title-1{
    margin-top: 0;
    font-size: 70px;
    font-weight: 500;
    line-height: 1.085;
    letter-spacing: -0.035em;
}

/* ==============================
   Links
   ============================== */

.link-hover-anim{    
    position: relative;
    display: inline-block;
    padding: 6px 0;
    overflow: hidden;    
    font-size: 17px;    
    font-weight: 500;
    letter-spacing: normal;
    line-height: 1;
    text-decoration: none;
    vertical-align: middle;
    color: currentColor;
    background: none;
    border: none;
    cursor: pointer;
}
.link-hover-anim:hover{
    text-decoration: none !important;
}
.main-nav .link-hover-anim{
    top: 1px;
}
.link-strong{
    position: relative;
    display: inline-block;
    overflow: hidden;
    padding: 7px 0;
    transition: transform 0.5s var(--ease-elastic-1), opacity 0.5s var(--ease-elastic-1), color 0.2s var(--ease-default);
}
.underline .link-strong{
    border-bottom: 2px solid currentColor;
}
.underline .link-strong i{
    position: relative;
    top: 0.075em;
}
.link-hover-anim:not(.underline) .link-strong i:not([class^="icon-"]){
    position: relative;
    top: -0.05em;
    vertical-align: middle;
}

.link-strong-hovered{
    display: block;
    position: absolute;
    top: 6px;
    left: 0;
    opacity: 0;
    transform: translateY(150%) translateZ(0.001px) skewY(10deg);
}
.link-hover-anim:hover{
    color: inherit;
}
.link-strong-unhovered{
    display: block;
}
.link-hover-anim:hover .link-strong-unhovered{ 
    opacity: 0;
    transform: translateY(-150%) translateZ(0.001px) skewY(-10deg);
}

.link-hover-anim:hover .link-strong-hovered{
    opacity: 1;
    transform: translateY(0) translateZ(0.001px) skewY(0);
}
.light-content .link-strong,
.light-content .link-hover-anim{
    color: #fff;
}

.link-hover-anim.link-gradient .link-strong{
    background: var(--gradient-primary-1-a);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
.link-hover-anim.link-gradient .link-strong i{
    -webkit-text-fill-color: var(--color-primary-1);
}

/* ==============================
   Buttons
   ============================== */
  
.btn-mod,
a.btn-mod{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 3px 13px;
    color: #fff;
    background: var(--color-dark-1);
    border: 1px solid transparent;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: .065em;
    border-radius: 0;
    box-shadow: none;
    transition: var(--transition-default);
    cursor: pointer;
}
.btn-mod:hover,
.btn-mod:focus,
a.btn-mod:hover,
a.btn-mod:focus{
    color: #fff;
    text-decoration: none;
    outline: none;
    border-color: transparent;
    box-shadow: none;
}
.btn-mod:active{
    cursor: pointer !important;
    outline: none !important;
}
.btn-mod i.align-center:before{
    display: block;
    margin: -0.275em 0;
    transform: translateY(0.14em);
}

.btn-mod.btn-small{
    height: auto;
    padding: 6px 15px;
    font-size: 13px;
    letter-spacing: 0.05em;
} 
.btn-mod.btn-medium{
    height: auto;
    padding: 13px 20px 12px;
    font-size: 13px;
    letter-spacing: 0.085em;
} 
.btn-mod.btn-large{
    height: auto;
    padding: 16px 32px 15px;
    font-size: 13px;
    letter-spacing: 0.085em;
} 

.btn-mod.btn-round{
    border-radius: var(--border-radius-default);
}

.btn-animate-y{
    position: relative;
    display: block;
    overflow: hidden;
}
.btn-animate-y-1{
    display: block;
    transition: all .37s var(--ease-out-short), opacity .37s linear;
}
.btn-animate-y-2{
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    opacity: 0;
    transform: translate(0,100%);
    transition: all .37s var(--ease-out-short), opacity .37s linear;
}
.btn-mod:hover .btn-animate-y-1,
a:not(.no-hover):hover .btn-animate-y-1{
    opacity: 0;
    transform: translate(0,-100%);
}
.btn-mod:hover .btn-animate-y-2,
a:not(.no-hover):hover .btn-animate-y-2{
    opacity: 1;
    transform: translate(0,0);
}

.btn-mod.btn-grad{
    color: #fff !important;
    background-image: var(--gradient-primary-1);
    background-repeat: no-repeat;
    border: none;
}
.btn-mod.btn-border-grad{
	border: 1px solid transparent;
	background:	linear-gradient(to right, white, white), var(--gradient-primary-1-b); 
	-webkit-background-clip: padding-box, border-box;
    background-clip: padding-box, border-box;
	background-origin: padding-box, border-box;
    color: var(--color-primary-1);
}
.btn-mod.btn-border-grad > span{
    position: relative;
    display: block;
	background: var(--gradient-primary-1);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.btn-mod.btn-border-grad .btn-animate-y-1,
.btn-mod.btn-border-grad .btn-animate-y-2{
    background: var(--gradient-primary-1);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
/* ==============================
   Forms fields
   ============================== */

.form input[type="text"],
.form input[type="email"],
.form input[type="number"],
.form input[type="url"],
.form input[type="search"],
.form input[type="tel"],
.form input[type="password"],
.form input[type="date"],
.form input[type="color"],
.form select{
    display: inline-block;
    height: 27px;
    vertical-align: middle;
    font-size: 13px;
    font-weight: 400;
    color: var(--color-dark-1);
    border: 1px solid rgba(0,0,0, .183);
    padding-top: 0;
    padding-bottom: 2px;
    padding-left: 7px;
    padding-right: 7px;
    border-radius: 0;
    box-shadow: none;    
    transition: all 0.2s cubic-bezier(0.000, 0.000, 0.580, 1.000); 
}
.form select[multiple]{
    height: auto;
}
.form input[type="text"]::placeholder,
.form input[type="email"]::placeholder,
.form input[type="number"]::placeholder,
.form input[type="url"]::placeholder,
.form input[type="search"]::placeholder,
.form input[type="tel"]::placeholder,
.form input[type="password"]::placeholder,
.form input[type="date"]::placeholder,
.form input[type="color"]::placeholder,
.form select::placeholder{
    color: var(--color-gray-2);
    transition: var(--transition-default), font-size 0s;
}

.form textarea{
    font-size: 13px;
    font-weight: 400;
    color: var(--color-dark-1);
    border-color: rgba(0,0,0, .183);
    padding: 0 7px;
    outline: none;
    
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    
    -webkit-appearance: none;
    appearance: none;
}
.form textarea::placeholder{
    color: var(--color-gray-2);
    transition: var(--transition-default);
}
.form textarea:hover::placeholder{
    color: var(--color-gray-1);
}
.form textarea:hover{
    border-color: rgba(0,0,0, .38);
}
.form textarea:focus{
    color: var(--color-dark-1);
    border-color: rgba(0,0,0, .7);
    box-shadow: 0 0 3px rgba(0,0,0, .3);
}

.form textarea.input-md{
    padding: 8px 15px;
    font-size: 15px;
    
}

.form label{
    display: inline-block;
    margin-bottom: 7px;
    font-size: 18px;
    font-weight: 500;
    line-height: 1.3;
}
.form .form-group{
    margin-bottom: 21px;
}

.form-control{
    border-radius: 0;
}

/*
 * Input Gradient
 */

.input-grad-wrap{
    border: 1px solid transparent;
	background:	linear-gradient(to right, white, white), var(--gradient-primary-1-b); 
	-webkit-background-clip: padding-box, border-box;
    background-clip: padding-box, border-box;
	background-origin: padding-box, border-box;
}
.form input[type="text"].input-grad,
.form input[type="email"].input-grad,
.form input[type="number"].input-grad,
.form input[type="url"].input-grad,
.form input[type="search"].input-grad,
.form input[type="tel"].input-grad,
.form input[type="password"].input-grad,
.form input[type="date"].input-grad,
.form input[type="color"].input-grad,
.form textarea.input-grad,
.form select.input-grad{
    border: none;
}

/* ==============================
   Home sections
   ============================== */
  
/*
 * Header common styles
 */

.home-section{
    width: 100%;
    display: block;    
    position: relative;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;    
}
.home-content{
    width: 100%;
    position: relative;
    text-align: center;
}

/*
 * Scroll down icon type 1
 */

.scroll-down-wrap-type-1{
    position: absolute;
    bottom: 30px;
    left: 0;
    width: 100%; 
}
.scroll-down-1{
    display: inline-flex;
    justify-content: center;
	align-items: center;
    text-decoration: none; 
}
.scroll-down-1-icon{
    position: relative;
    display: inline-flex;
    justify-content: center;
	align-items: center;
    width: 36px;
    height: 36px;
    margin-right: 8px;
    font-size: 24px;    
}
.scroll-down-1-icon:before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    border: 1px solid var(--color-dark-1);
    border-radius: 50%;
    opacity: .38;
    transition: opacity 0.4s ease, transform 0.4s var(--ease-elastic-2);
}

.scroll-down-1-icon i{
    opacity: .43;
    transition: all 0.4s ease;
}
.scroll-down-1-text{
    font-size: 14px;
    opacity: .6;
    transition: opacity 0.4s ease, transform 0.4s var(--ease-elastic-2);
}
.scroll-down-1:hover{
    text-decoration: none; 
    color: inherit;
}
.scroll-down-1:hover .scroll-down-1-icon:before{
    opacity: 1;
    transform: scale(1.25);
}
.scroll-down-1:hover .scroll-down-1-icon svg,
.scroll-down-1:hover .scroll-down-1-icon img,
.scroll-down-1:hover .scroll-down-1-icon i{
    opacity: 1;
}
.scroll-down-1:hover .scroll-down-1-text{
    opacity: 1;
    transform: translateX(7px);
}
.light-content .scroll-down-1-icon{
    color: #fff;
}
.light-content .scroll-down-1-icon svg,
.light-content .scroll-down-1-icon img{
    opacity: .65;
}
.light-content .scroll-down-1-icon i{
    opacity: .65;
}
.light-content .scroll-down-1-icon:before{
    border-color: #fff;
    opacity: .5;
}
.light-content .scroll-down-1-text{
    color: #fff;
    opacity: .7;
}

/*
 * Section BG svg shape
 */

.bg-shape-1{
    position: absolute;
    top: 0;
    right: 0;
    width: 90.1875%;
}
.bg-shape-1 img{
    width: 100%;
}

.bg-shape-3 img{
    width: 100%;
}

.bg-shape-4{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}
.bg-shape-4 img{
    width: 100%;
}

.bg-shape-5{
    position: absolute;
    top: 0;
    right: 0;
    width: 34.375%;
    height: 100%;
    background: var(--gradient-primary-1-b);
    opacity: .15;
}

.bg-shape-6{
    position: absolute;
    top: 50%;
    right: 100%;
    width: 35.325%;
    padding-top: 35.325%;
    background: var(--gradient-primary-1);
    border-radius: 100%;
    opacity: .15;
    transform: translate(9.7%,-50%) rotate(90deg);
}

.bg-line-1{
    position: absolute;
    bottom: 45px;
    left: 0;
    width: 100%;   
}
.bg-line-1 img{
    width: 100%;
}

/* ==============================
   Custom appear animation
   ============================== */

/*
 * Splitting JS chars animation long 1
 */

.appear-animate .charsAnimInLong-1 .char{
    opacity: 0;
    transform: translateX(.275em);
    transform-origin: 0 50%;
    transition: transform 1s var(--ease-out-short), opacity .62s var(--ease-default);
    transition-delay: calc( 0.039s * var(--char-index) );
}
html:not(.mobile) .appear-animate .charsAnimInLong-1 .char{
    will-change: opacity, transform;
}
@media (prefers-reduced-motion:reduce),print{
    .appear-animate .charsAnimInLong-1 .char{
        opacity: 1 !important;
        transform: none !important;
    }
}

.charsAnimInLong-1.animated .char,
.mobile .charsAnimInLong-1 .char{
    opacity: 1;
    transform: none;
}

/*
 * Splitting JS lines animation long
 */

.appear-animate .linesAnimInLong .word{
    opacity: 0;
    backface-visibility: hidden;   
    transform: translateY(39px) translateZ(0) scale(1.0) rotate(0.02deg);
    transform-origin: 0 50%;
    transition: transform 1s cubic-bezier(0, 0.55, 0.45, 1), opacity 1s cubic-bezier(0, 0.55, 0.45, 1);
    transition-delay: calc( 0.1s * var(--line-index) );
}
html:not(.mobile) .appear-animate .linesAnimInLong .word{
    will-change: opacity, transform;
}
@media (prefers-reduced-motion:reduce),print{
    .appear-animate .linesAnimInLong .word{
        opacity: 1 !important;
        transform: none !important;
    }
}
.linesAnimInLong.animated .word,
.mobile .linesAnimInLong .word{
    opacity: 1;   
    transform: none;
}

/*
 * Appearing animation styles
 */

:root {
	--animate-duration: 1s;
	--animate-delay: 1s;
	--animate-repeat: 1
}
.animated {
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-duration: var(--animate-duration);
	animation-duration: var(--animate-duration);
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both
}

.wow,
.wow-menubar,
.wow-p{
    opacity: 0.001;  
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;    
    -webkit-transform: translateZ(0);
    transform: translateZ(0);  
}

.appear-animate .wow.scaleOutIn{
    opacity: 1;
    transform: scale(1.2);
}
.appear-animate .wow.animated,
.appear-animate .wow.scaleOutIn.animated,
.appear-animate .wow-p.amimated,
.appear-animate .wow-menubar.animated,
.mobile .appear-animate .wow,
.mobile .appear-animate .wow-menubar,
.mobile .appear-animate .wow-p{
    opacity: 1;
    transform: scale(1.0);
}
@media (prefers-reduced-motion:reduce), print{
    .wow,
    .wow.scaleOutIn,
    .wow-menubar,
    .wow-p{
        opacity: 1 !important;
        transform: none !important;
        animation: none !important;
    }
}
@keyframes fadeIn {
	0% {
		opacity: 0
	}

	to {
		opacity: 1
	}
}
.fadeIn {
	animation-name: fadeIn
}

@keyframes fadeInDown{
    0%{
        opacity: 0;
        transform: translate3d(0,-37px,0)
    }
    to{
        opacity: 1;
        transform: translate3d(0,0,0);
    }
}
.fadeInDown{
    animation-name: fadeInDown
}
@keyframes fadeInUp{
    0%{
        opacity: 0;
        transform: translate3d(0,37px,0);
    }
    to{
        opacity: 1;
        transform: translate3d(0,0,0);
    }
}
.fadeInUp{
    animation-name: fadeInUp;
}
@keyframes fadeInUpShort{
    0%{
        opacity: 0;
        transform: translate3d(0,12px,0);
    }
    to{
        opacity: 1;
        transform: translate3d(0,0,0);
    }
}
.fadeInUpShort{
    animation-name: fadeInUpShort;
}

@keyframes scalexIn{
    0%{
        opacity: 0;
        transform: scaleX(0);
        transform-origin: left center;        
    }
    to{
        opacity: 1;
        transform: scaleX(1);
        transform-origin: left center;
    }
}
.scalexIn{
    animation-name: scalexIn;
}

.fadeScaleOutIn{
    animation-name: fadeScaleOutIn;
}

/* ==============================
   Classic menu bar
   ============================== */

/*
 * Logo (in navigation panel)
 */

.nav-logo-wrap{
    position: absolute;
    top: 0;
    left: 0;
    flex-shrink: 0;
    z-index: 1;
}
.nav-logo-wrap .logo{
    display: flex;
    align-items: center;
    max-width: 188px;
    height: var(--menu-bar-height);
    transition: all 0.2s cubic-bezier(0.000, 0.000, 0.580, 1.000);
}
.nav-logo-wrap .logo img{
    max-height: 100%;
}

.logo,
a.logo:hover{
    font-size: 18px;
    font-weight: 600 !important;
    text-decoration: none;
    color: rgba(0,0,0, .9);
}

/*
 * Desktop nav
 */

.main-nav{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: stretch;
    width: 100%;
    height: var(--menu-bar-height) !important;
    position: relative;
    top: 0;
    left: 0;
    text-align: left;
    background: rgba(255,255,255, .98);
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.025),0px 1px 1px 0px rgba(0, 0, 0, 0.01),0px 0px 50px 0px rgba(0, 0, 0, 0.07);
    z-index: 1030;
    transition: all 0.2s var(--ease-default);
}
.main-nav-sub{
    flex-grow: 1;
    display: flex;
    position: relative;
}
.inner-nav{
    flex-grow: 1;
    position: relative;
}
.inner-nav ul{
    margin: auto;
    font-size: 17px;
    font-weight: 500;
    text-align: center;
    letter-spacing: 0;
    line-height: 1.3;    
}
.inner-nav ul i.align-center:before{
    display: block;
    margin-top: -0.15em;
    transform: translateY(13.5%);
}
.inner-nav ul i.mi-mobile:before{
    margin-left: -0.25em;
    margin-right: -0.25em;
}
.inner-nav > ul{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}
.inner-nav ul li{
    margin: 0 18px;
    position: relative;
}
.inner-nav ul li:first-child{
    margin-left: 0;
}
.inner-nav ul li:last-child{
    margin-right: 0;
}
.inner-nav > ul.items-end{
    position: absolute;
    top: 0;
    right: 0;
}
.inner-nav ul li a{
    display: inline-block;
    text-decoration: none;  
    transition: all 0.2s cubic-bezier(0.000, 0.000, 0.580, 1.000);
}
.inner-nav > ul > li > a{
    display: table-cell;
    vertical-align: middle;
    height: var(--menu-bar-height); 
    opacity: .65;     
}

.inner-nav ul li a:hover,
.inner-nav ul li a.active{
    color: var(--color-dark-1);
    opacity: 1;
    text-decoration: none;
}

/* Mobile nav menu sub */

.mobile-nav{
    display: none;
    margin-left: auto;
    margin-right: -15px;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 16px;
    cursor: pointer;
    height: var(--menu-bar-height);    
    transition: all 0.2s cubic-bezier(0.000, 0.000, 0.580, 1.000);
    transition-property:  background, color, height;
}

/*
 * Transparent panel style
 */

.main-nav.transparent{
    background: transparent !important;
    box-shadow: none;
}
.main-nav.js-transparent{
    transition: all 0.2s var(--ease-default);
}

/* ==============================
   Sections styles
   ============================== */

/*
 * Common section styles
 */

.page-section,
.small-section,
.bg-image{
    width: 100%;
    display: block;    
    position: relative;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;    
    padding-top: var(--section-padding-y);
    padding-bottom: var(--section-padding-y);
}
.small-section{
    padding: 100px 0;
}

.bg-overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.bg-scroll{
    background-attachment: scroll !important;
    background-position: center center !important;
}
.bg-dark-1{
    background-color: var(--color-dark-1) !important;
}

.bg-gradient-gray-light-1{
    background-image: var(--gradient-gray-light-1);
}
.bg-gradient-gray-light-2{
    background-image: var(--gradient-gray-light-2);
}

.bg-gradient-primary-alpha-1:before{
    content: " ";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;    
    background-image: var(--gradient-primary-alpha-1);
    opacity: .97;
}
.bg-gradient-primary-alpha-2:before{
    content: " ";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;    
    background-image: var(--gradient-primary-alpha-2);
    opacity: .97;
}
.bg-gradient-dark-alpha-1:before{
    content: " ";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;    
    background-image: var(--gradient-dark-alpha-1);
    opacity: .97;
}
.bg-gradient-dark-alpha-2:before{
    content: " ";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;    
    background-image: var(--gradient-dark-alpha-2);
    opacity: .97;
}

.light-content{
    color: #fff;
}
.light-content a{
    color: rgba(255,255,255, .8);
}

.bg-gradient-light-1{
    position: relative;
    isolation: isolate;
}
.bg-gradient-light-1:before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--gradient-primary-1);    
    opacity: .15;
    z-index: -1;
}
.light-content .bg-gradient-light-1:before{
    opacity: .25;
}
.bg-gradient-light-2{
    position: relative;
}
.bg-gradient-light-2:before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--gradient-primary-1-b);    
    opacity: .15;
    z-index: -1;
}
.light-content .bg-gradient-light-2:before{
    opacity: .25;
}
.bg-gradient-primary-1{
    background: var(--gradient-primary-1) !important; 
}
.bg-gradient-primary-2{
    background: var(--gradient-primary-1-b) !important; 
}
.bg-border-gradient{
    position: relative;
}
.bg-border-gradient:before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 1px solid transparent;
    border-radius: var(--border-radius-large);
	background:	linear-gradient(to right, white, white), var(--gradient-primary-1-b); 
	-webkit-background-clip: padding-box, border-box;
    background-clip: padding-box, border-box;
	background-origin: padding-box, border-box;
    opacity: .3;
}
.light-content .bg-border-gradient:before{
    background:	linear-gradient(to right, var(--color-dark-1), var(--color-dark-1)), var(--gradient-primary-1-b); 
	-webkit-background-clip: padding-box, border-box;
    background-clip: padding-box, border-box;
	background-origin: padding-box, border-box;
    opacity: .5;
}

.section-caption-gradient{
    display: inline-block;
    font-size: 24px;
    font-weight: 500;
    letter-spacing: normal;
    background: var(--gradient-primary-1);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
.section-title{
    font-size: 56px;
    font-weight: 500;
    line-height: 1.107;
    letter-spacing: -0.03em;
}
.section-title-small{
    margin-top: 0;
    font-size: 40px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: -0.03em;
}
.section-title-repeat{
    flex-shrink: 5;
    position: relative;
    display: inline-block;
    font-size: 120px;
    font-weight: 400;
    letter-spacing: -0.03em;
}
.section-title-repeat-left{
    position: absolute;
    top: 0;
    left: calc(-100% - 0.575em);
    width: 100%; 
    color: #fff; 
    text-shadow: -1px -1px 0 var(--color-dark-1), 1px -1px 0 var(--color-dark-1), -1px 1px 0 var(--color-dark-1), 1px 1px 0 var(--color-dark-1);
    opacity: .3;
    pointer-events: none;
}
.section-title-repeat-right{
    position: absolute;
    top: 0;
    right: calc(-100% - 0.575em);
    width: 100%; 
    color: #fff; 
    text-shadow: -1px -1px 0 var(--color-dark-1), 1px -1px 0 var(--color-dark-1), -1px 1px 0 var(--color-dark-1), 1px 1px 0 var(--color-dark-1);
    opacity: .3;
    pointer-events: none;
}

.section-descr{
    margin-top: 0;
    color: var(--color-gray-1);
    font-size: 23px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: -0.005em;
}
.section-descr-medium{
    margin-top: 0;
    font-size: 24px;
    letter-spacing: -0.02em;
}

.features-list-icon{
    position: relative;
    top: 0.075em;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
    width: 24px;
    height: 24px;
    font-size: 18px;
    color: #fff;
    background: var(--color-dark-1);
    border-radius: 50%;
}

.features-list-icon i{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    vertical-align: middle;
}

.light-content .features-list-icon{
    color: var(--color-dark-1);
    background: #fff;
}
.features-list-icon.features-list-grad{
    color: #fff;
    background: var(--gradient-primary-1-b);
}

.section-line-gradient{
    width: 70px;
    height: 1px;
    margin: 0 auto 0 0;
    background: var(--gradient-primary-1);
}
.text-gray{
    color: var(--color-gray-1);
}
.text-gray a{
    color: var(--color-dark-1);
    transition: all 0.17s var(--ease-default);
}
.text-gray a:hover{
    color: var(--color-dark-4);
}
.light-content .text-gray{
    color: var(--color-dark-mode-gray-1);
}
.light-content .text-gray a{
    color: var(--color-dark-mode-gray-1);
}
.light-content .text-gray a:hover{
    color: #fff;
}

/*
 * Decorative elements
 */

.decoration-image-1{
    position: absolute;
    top: -30px;
    left: 30px;
    width: 14.8837%;
    overflow: hidden;
    border-radius: var(--border-radius-default);
    pointer-events: none;
    isolation: isolate;
    transform: translateZ(0);
}
.decoration-image-1 img{
    width: 100%;
}
.decoration-image-2{
    position: absolute;
    bottom: -30px;
    right: 30px;
    width: 19.3798%;
    overflow: hidden;
    border-radius: var(--border-radius-default);
    pointer-events: none;
    isolation: isolate;
    transform: translateZ(0);
}
.decoration-image-2 img{
    width: 100%;
}

/* ==============================
   Services
   ============================== */

:root{
    --services-text-overlap: 220px;
}

/* ==============================
   Services 7
   ============================== */
  
.services-7-tabs{
    border: none;
}
.services-7-tabs > li{
    display: block;
    width: 100%;
}
.services-7-tabs > li > a{
    position: relative;
    display: block;
    padding: 26px 45px 26px 30px;
    text-decoration: none;
}
.services-7-tabs > li > a:before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 1px;
    height: 100%;
    background: var(--color-dark-1);
    opacity: .15;
    transition: all 0.2s var(--ease-default);
}
.services-7-tabs > li > a.active{
    cursor: default;
}
.services-7-tabs > li > a.active:before{
    background: var(--gradient-primary-1-b);
    opacity: 1;
}
.services-7-title{
    margin-bottom: 13px;
    font-size: 21px;
    font-weight: 500;
    letter-spacing: -0.005em;
}
.services-7-text{
    font-size: 16px;
    color: var(--color-gray-1);
}
.services-7-arrow{
    position: absolute;
    top: 25px;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    opacity: 0;
    transform: translateX(-5px);  
    transition: all .2s var(--ease-default);
}
.services-7-arrow:before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--gradient-primary-1-b);
    border-radius: 100%;
    opacity: .2;
}
.services-7-arrow i:before{
    background: var(--gradient-primary-1);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
.services-7-tabs > li > a.active .services-7-arrow{
    opacity: 1;
    transform: none;
}
.services-7-content{
    animation: services-7-tabs-animation .7s var(--ease-out-medium);
}
@keyframes services-7-tabs-animation {
    0% {
        transform: translate(0, 10px) scale(.98);
    }
    100% { 
        transform: translate(0, 0) scale(1);
    }
}
.services-7-image{
    position: relative;
    overflow: hidden;
    border-radius: var(--border-radius-default);
    isolation: isolate;
    transform: translateZ(0);    
}
.services-7-image:before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    background: var(--gradient-primary-1-b);
    opacity: .2;
    z-index: -1;
}
.services-7-image > img{
    width: 100%;
}
.light-content .services-7-tabs > li > a:before{
    background: #fff;
    opacity: .25;
}
.light-content .services-7-tabs > li > a.active:before{
    background: var(--gradient-primary-1-b);
    opacity: 1;
}
.light-content .services-7-title{
    color: #fff;
}
.light-content .services-7-text{
    color: var(--color-dark-mode-gray-1);
}

/* ==============================
   Features 2
   ============================== */

.features-2-item{
    position: relative;
    padding: 60px 40px;
    text-align: center;
}
.features-2-item:before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: var(--border-radius-default);
    border: 1px solid transparent;
	background:	linear-gradient(to right, white, white), var(--gradient-primary-1-b); 
	-webkit-background-clip: padding-box, border-box;
    background-clip: padding-box, border-box;
	background-origin: padding-box, border-box;
    opacity: .3;
    transition: opacity .27s var(--ease-default);
    z-index: -1;
}
.features-2-item:hover:before{
    opacity: .57;
}
.features-2-label{
    position: absolute;
    top: 18px;
    left: 20px;
    font-size: 13px;
    font-weight: 600;
    line-height: 1.3;
    background: var(--gradient-primary-1);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
.features-2-icon{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 94px;
    height: 94px;
    margin: 0 auto 30px;
    overflow: hidden;
    font-size: 48px;
    line-height: 1;
    color: var(--color-primary-3);
    border-radius: 100%;
    isolation: isolate;
    transform: translateZ(0);
}
.features-2-icon:before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--gradient-primary-1-b);
    opacity: .15;
    z-index: -1;
}
.features-2-icon i:before{
    background: var(--gradient-primary-1);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
.features-2-icon svg{
    width: 1em;
    height: 1em;
    fill: url(#gradient-horizontal) var(--color-primary-3);   
}
.features-2-title{
    margin-bottom: 15px;
    font-size: 19px;
    font-weight: 500; 
}
.features-2-descr{
    font-size: 16px;
    color: var(--color-gray-1);
}
.light-content .features-2-item:before{
	background:	linear-gradient(to right, var(--color-dark-1), var(--color-dark-1)), var(--gradient-primary-1-b); 
	-webkit-background-clip: padding-box, border-box;
    background-clip: padding-box, border-box;
	background-origin: padding-box, border-box;
    opacity: .5;
}
.light-content .features-2-item:hover:before{
    opacity: .75;
}
.light-content .features-2-descr{
    color: var(--color-dark-mode-gray-1);
}

/* ==============================
   Portfolio
   ============================== */

/*
 * Works filter
 */

.works-filter{
    position: relative;
    list-style: none;
    padding: 0;
    margin: 0;
    cursor: default;
}
.works-filter a{
    display: inline-block;
    position: relative;
    margin-left: 48px;
    color: var(--color-gray-1);
    text-decoration: none;
    -webkit-transition: var(--transition-default);
    transition: var(--transition-default);
    cursor: pointer;
}
.works-filter a:first-child{
    margin-left: 0;
}
.works-filter a:hover{
    color: var(--color-dark-1);
    text-decoration: none;
}
.works-filter a.active{
    color: var(--color-dark-1);
    cursor: default;
}
.works-filter a.active:hover{
    color: var(--color-dark-1);
}
.works-filter a:after{
    content: "";
    display: block;
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 100%;
    height: 2px;
    background-color: var(--color-dark-1);
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: right center;
    transform-origin: right center;
    -webkit-transition: transform .25s ease-out;
    transition: transform .25s ease-out;
}
.works-filter a.active:after{
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}
.works-filter a:hover:after{
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    -webkit-transform-origin: left center;
    transform-origin: left center;
}
.light-content .works-filter a{
    color: #fff;
    opacity: .72;
}
.light-content .works-filter a:hover,
.light-content .works-filter a.active{
    color: #fff;
    opacity: 1;
}
.light-content .works-filter a:after{
    background-color: #fff;
}

/* Works filter gradient */
.works-filter.works-filter-gradient{
    font-size: 15px;
    font-weight: 500;
    letter-spacing: normal;
    z-index: 1;
}
.works-filter.works-filter-gradient a{
    margin-left: 10px;
    padding: 5px 17px;
    transition: none;
}
.works-filter.works-filter-gradient a:before{
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 1px solid var(--color-dark-1);
    border-radius: 30px;
    opacity: .15;
    transition: opacity .17s var(--ease-default);
    z-index: -1;
}
.works-filter.works-filter-gradient a:hover{
    color: var(--color-gray-1);
}
.works-filter.works-filter-gradient a:hover:before{
    opacity: .3;
}
.works-filter.works-filter-gradient a.active:before{
    border: 1px solid transparent;
	background:	linear-gradient(to right, white, white), var(--gradient-primary-1-b); 
	-webkit-background-clip: padding-box, border-box;
    background-clip: padding-box, border-box;
	background-origin: padding-box, border-box;
    opacity: 1;
}
.works-filter.works-filter-gradient a.active{
    background: var(--gradient-primary-1);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
.works-filter.works-filter-gradient a:after{
    display: none;
}
.light-content .works-filter.works-filter-gradient a,
.light-content .works-filter.works-filter-gradient a:hover{
    color: var(--color-dark-mode-gray-1);
    opacity: 1;
}
.light-content .works-filter.works-filter-gradient a:before{
    border-color: #fff;
    opacity: .25;
}
.light-content .works-filter.works-filter-gradient a:hover:before{
    border-color: #fff;
    opacity: .5;
}
.light-content .works-filter.works-filter-gradient a.active:before{
    border-color: transparent;
	background:	linear-gradient(to right, var(--color-dark-1), var(--color-dark-1)), var(--gradient-primary-1-b); 
	-webkit-background-clip: padding-box, border-box;
    background-clip: padding-box, border-box;
	background-origin: padding-box, border-box;
    opacity: 1;
}

/*
 * Works grid 
 */

.works-grid{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 0;
}
.work-item{
    width: 25%;;
    margin: 0;  
}

.work-grid-3 .work-item{
    width: 33.333%;
}

.works-grid.work-grid-gut-lg{
    margin: -80px 0 0 -70px;
}
.works-grid.work-grid-gut-lg .work-item{
    padding: 80px 0 0 70px;
}

.work-item a{
    display: block;    
    padding: 0;
    position: relative;
    box-sizing: border-box;
    text-decoration: none;
}
.work-item a,
.work-item a:hover{
    color: var(--color-dark-1);
    border: none;
}
.light-content .work-item a,
.light-content .work-item a:hover{
    color: #fff;
}
.work-img{
    position: relative;
    overflow: hidden;
    transform: rotate(0.001deg) translateZ(0);
}
.work-img-bg{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--color-gray-light-2);
}

.work-img picture,
.work-img img{
    display: block;
    position: relative;
    width: 100%;    
    overflow: hidden;
    transform: rotate(0.001deg) translateZ(0);
}
.work-intro{
    width: 100%;
    padding-top: 18px;       
    text-align: center;
    transform: translateZ(0);
}
.work-title{
    margin: 0 0 3px 0;
    padding: 0;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: -0.007em;
    line-height: 1.4;
    text-transform: none;
    transform: translateZ(0);
}
.work-descr{   
    display: block; 
    color: var(--color-gray-1);
    font-size: 15px;
    line-height: 1.4;
    text-transform: none;
    transform: translateZ(0);
}

/* Work item hover state */
.work-item .work-img,
.work-item .work-img picture,
.work-item .work-img img {    
    transition: all 2s var(--ease-out-medium);
}
.work-item .work-img{
   clip-path: inset(-1px);
   will-change: clip-path;
}
.work-item a:hover .work-img{
   clip-path: inset(10px);
}
.work-item a:hover .work-img picture,
.work-item a:hover .work-img img {
    transform: scale(1.05) rotate(0.001deg) translateZ(0);
}
.work-item .work-intro{
    transition: all 2s var(--ease-out-medium);
}
.work-item .work-intro.text-start{
    padding-right: 10px;
}
.work-item a:hover .work-intro{
    transform: translate(10px, -10px);
}

/* Work item hover state alt */
.works-grid.work-grid-hover-alt .work-item .work-img{ 
    overflow: hidden;
    transition: all .2s var(--ease-default);  
}
.works-grid.work-grid-hover-alt .work-item .work-img picture
.works-grid.work-grid-hover-alt .work-item .work-img img { 
    transition: all .27s var(--ease-default);
}
.works-grid.work-grid-hover-alt .work-item a:hover .work-img{
   clip-path: none;
   transform: translateY(-7px) rotate(0.001deg) translateZ(0);
}
.works-grid.work-grid-hover-alt .work-item a:hover .work-img picture,
.works-grid.work-grid-hover-alt .work-item a:hover .work-img img{
   transform: scale(1) rotate(0.001deg) translateZ(0);
}
.works-grid.work-grid-hover-alt .work-item a:hover .work-intro{
    transform: none;
    opacity: 1;
}

/* Work item round */
.works-grid.work-grid-round .work-item .work-img{ 
    overflow: hidden;
    border-radius: var(--border-radius-default);
    isolation: isolate;
    transform: translateZ(0);
}
.works-grid.work-grid-round .work-item .work-img-bg{ 
    border-radius: var(--border-radius-default);
}

/* ==============================
   Call action 3 section
   ============================== */
section.call-to-action-3 {
    background-image: url(/images/demo-gradient/section-bg-3-compressed.webp);
}

/* ==============================
   Images compositions
   ============================== */


/*
 * Images composition 6
 */

.composition-6{
    position: relative;
}
.composition-6 img{
    width: 100%;
}
.composition-6-image{
    position: relative;
    overflow: hidden;
    -webkit-mask: url(data:image/svg+xml;base64,PHN2ZyAKIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIKeD0iMHB4IiB5PSIwcHgiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIHZpZXdCb3g9IjAgMCA2MzAgNjI2Ij4KICAgIDxwYXRoIGZpbGwtcnVsZT0iZXZlbm9kZCIgZD0iTTUxNC41MjUsNDkwLjEwNyBDNDE1LjI0Niw1MzEuODk2IDM0OC43NDcsNDE0Ljk1MCAyODkuMDQzLDQ5Ny43NjAgQzI0NC43NjEsNTU5LjE3NyAxNjcuOTM2LDY1OS40OTUgOTYuMDY3LDYxNC4yMjcgQy0zLjIyOCw1NTEuNjg0IC04OC4yMDUsMTE0Ljg5MSAxODMuMDg4LDE0LjQ5NiBDMjg2Ljg5MSwtMjMuOTE3IDQ5MS4zMjEsMTUuMjMxIDU4MS44ODEsMTY3LjAwMSBDNjgxLjcxNCwzMzQuMzEwIDYwNi44MTMsNDUxLjI2MCA1MTQuNTI1LDQ5MC4xMDcgWiIvPgo8L3N2Zz4=);
    -webkit-mask-type: alpha;
    -webkit-mask-size: 100% 100%;
    mask: url(data:image/svg+xml;base64,PHN2ZyAKIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIKeD0iMHB4IiB5PSIwcHgiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIHZpZXdCb3g9IjAgMCA2MzAgNjI2Ij4KICAgIDxwYXRoIGZpbGwtcnVsZT0iZXZlbm9kZCIgZD0iTTUxNC41MjUsNDkwLjEwNyBDNDE1LjI0Niw1MzEuODk2IDM0OC43NDcsNDE0Ljk1MCAyODkuMDQzLDQ5Ny43NjAgQzI0NC43NjEsNTU5LjE3NyAxNjcuOTM2LDY1OS40OTUgOTYuMDY3LDYxNC4yMjcgQy0zLjIyOCw1NTEuNjg0IC04OC4yMDUsMTE0Ljg5MSAxODMuMDg4LDE0LjQ5NiBDMjg2Ljg5MSwtMjMuOTE3IDQ5MS4zMjEsMTUuMjMxIDU4MS44ODEsMTY3LjAwMSBDNjgxLjcxNCwzMzQuMzEwIDYwNi44MTMsNDUxLjI2MCA1MTQuNTI1LDQ5MC4xMDcgWiIvPgo8L3N2Zz4=);
    mask-type: alpha;
    mask-size: 100% 100%;
}
.composition-6-decoration-1{
    position: absolute;
    top: 0.5%;
    right: 8.887%;
    width: 23.9682%;
}
.composition-6-decoration-2{
    position: absolute;
    bottom: -3.5%;
    left: 25.3968%;
    width: 23.9682%;
}

/*
 * Images composition 7
 */

.composition-7{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    position: relative;
}
.composition-7 img{
    width: 100%;
}
.composition-7-border{
    position: absolute;
    top: -10px;
    left: -10px;
    width: 100%;
    height: 100%;
    border: 1px solid transparent;
    border-radius: var(--border-radius-default);
	background:	linear-gradient(to right, white, white), var(--gradient-primary-1-b); 
	-webkit-background-clip: padding-box, border-box;
    background-clip: padding-box, border-box;
	background-origin: padding-box, border-box;
    z-index: 0;
}
.composition-7-inner{
    position: relative;
    overflow: hidden;
    border-radius: var(--border-radius-default);
    isolation: isolate;
    transform: translateZ(0);
    z-index: 1;
}
.composition-7-image-1{    
    position: relative;
    width: 14.9903%; 
}
.composition-7-image-2{    
    position: relative;
    width: 24.8549%; 
}
.composition-7-image-3{    
    position: relative;
    width: 30.0773%; 
}
.composition-7-image-4{    
    position: relative;
    width: 21.3733%; 
}

/* ==============================
   Logotypes
   ============================== */

/* ==============================
   Contact 
   ============================== */

.contact-item{
    position: relative;
    padding: 0 0 0 74px;
    color: var(--color-dark-1);
}

.ci-icon{
    position: absolute;
    top: 4px;
    left: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 56px;
    height: 56px;    
    font-size: 24px;
    color: #fff;
    text-align: center;
}
.ci-icon:before{
    content: "";
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    background: var(--color-dark-1);
    border-radius: 50%;    
}
.ci-icon svg,
.ci-icon img,
.ci-icon i{
    position: relative;
    vertical-align: middle;
}
.ci-icon.ci-icon-grad:before{
    background: var(--gradient-primary-1-b);
    opacity: .15; 
}
.ci-icon.ci-icon-grad i:before{
    background: var(--gradient-primary-1);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
.ci-title{
    margin-bottom: 7px;
    color: var(--color-dark-1);
    font-size: 18px;
    font-weight: 500;
    line-height: 1.3;
}
.ci-text{
    font-size: 18px;
    line-height: 1.625;
    color: var(--color-gray-1);
}

/* ==============================
   Footer
   ============================== */

.footer{
     font-size: 16px;
}
.footer a{
    transition: all 0.17s var(--ease-default);
}
.footer:not(.light-content) a:hover{
    text-decoration: none;
    color: var(--color-dark-3a) !important;
}

footer:not(.light-content) .text-gray a{
    color: var(--color-gray-1);
    transition: all 0.17s var(--ease-default);
}
footer:not(.light-content) .text-gray a:hover{
    color: var(--color-dark-1);
}

.fw-title{
    margin-bottom: 16px;
    font-size: 18px;
    letter-spacing: -0.02em;
}
.fw-menu li:not(:last-child){
    margin-bottom: 3px;
}
.fw-menu li a{
    text-decoration: none;
    color: var(--color-gray-1);
}

.light-content .fw-menu li a{
    text-decoration: none;
    color: rgba(255,255,255, 0.7);
}

/* Link to top */
a.link-to-top,
footer .text-gray a.link-to-top{
    position: relative;
    display: flex;
	justify-content: center;
	align-items: center;    
    width: 48px;
    height: 48px;
    color: var(--color-dark-1);
    font-size: 24px;   
    text-decoration: none;
    transition: all 500ms cubic-bezier(0.250, 0.460, 0.450, 0.940);    
}
.link-to-top:before{
    display: block;
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 50%;
    background: #fff;
    box-shadow: var(--box-shadow); 
    z-index: 1;
    transition: all 0.4s var(--ease-elastic-2);
}

.link-to-top i,
.link-to-top span{
    position: relative;
    transform: rotate(0.001deg) translateZ(0);
    z-index: 1;
}

.light-content a.link-to-top,
.light-content a.link-to-top:hover{
    color: var(--color-dark-1) !important;   
}

a.link-to-top.gradient,
a.link-to-top.gradient:hover{
    color: #fff !important;
}
a.link-to-top.gradient:before{
    background: var(--gradient-primary-1-b);
    box-shadow: none;  
}

/* ==============================
   Shortcodes
   ============================== */


/*
 * Progress bars
 */

.tpl-progress{
    margin-top: 10px;
    margin-bottom: 50px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 1px;
    overflow: visible;
    height: 5px;
    background: var(--color-gray-light-1);
    border-radius: var(--border-radius-default);
    box-shadow: none;
}
.tpl-progress .progress-bar{
    padding-top: 2px;
    position: relative;
    overflow: visible;
    background-color: var(--color-dark-3);
    font-size: 12px;
    color: var(--color-dark-1);
    text-align: left;
    border-radius: 3px;
}
.tpl-progress .progress-bar > div{
    position: relative;
    top: 12px;
}
.tpl-progress .progress-bar > span{
    display: inline-block;    
    min-width: 24px;
    height: 24px;
    padding: 0 3px;
    position: absolute;
    top: 4px;
    right: -5px;
    text-align: center;
    line-height: 23px;
    letter-spacing: 0;
    border-radius: 15px;

}
.light-content .tpl-progress{
    background: var(--color-dark-3a);
}
.light-content .tpl-progress .progress-bar{
    background: #fff;
    color: #fff;
}

/* Alt progress bars */

.tpl-progress-alt{
    height: 20px;
    line-height: 20px;
    padding-bottom: 1px;
    margin-bottom: 30px;
    background: var(--color-gray-light-1);
    border-radius: 3px;
    box-shadow: none;
}
.tpl-progress-alt .progress-bar{
    padding-left: 5px;
    padding-right: 5px;
    position: relative;
    overflow: visible;
    background-color: var(--color-dark-3);
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #fff;
    text-align: left;
    border-radius: 3px;
}

.light-content .tpl-progress-alt{
    background: var(--color-dark-3a);
}
.light-content .tpl-progress-alt .progress-bar{
    background: #fff;
    color: var(--color-dark-1);
}


/* ==============================
   Skip to content link
   ============================== */
  
.skip-to-content{
    position: absolute;
    top: 3px;
    left: 3px;
    padding: 20px 40px;
    color: #ffffff;
    background: var(--color-dark-1);
    -webkit-transform: translateY(-150%);
    -moz-transform: translateY(-150%);
    transform: translateY(-150%);
    z-index:100000;
}
.skip-to-content:hover,
.skip-to-content:focus,
.skip-to-content.focus-visible{
    color: #ffffff;
    opacity: 1;
    background: #000;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    transform: translateY(0);
}

