<IfModule mod_deflate.c>
  # Compress HTML, CSS, JavaScript, Text, XML, fonts and images
  <FilesMatch ".(js|css|xml|html|svg|ttf|otf|woff|woff2|eot|ico)$">
    SetOutputFilter DEFLATE
  </FilesMatch>
</IfModule>

ErrorDocument 404 /404.html
ErrorDocument 409 /409.html

<IfModule mod_brotli.c>
  AddOutputFilterByType BROTLI_COMPRESS text/html text/plain text/xml text/css application/javascript application/json application/rss+xml
</IfModule>

RewriteEngine On

# Reverse Proxy to AWS Backend (now using HTTPS!)
RewriteRule ^(.*)$ https://18.188.104.84/$1 [P,L]

# Remove trailing slash
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_URI} (.+)/$
RewriteRule ^ %1 [R=301,L]

# Redirect HTTP to HTTPS
RewriteCond %{HTTPS} off
RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]
s